.dialog_mask_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #212121;
  opacity: 0.46;
  z-index: 998;
  display: none;
}
.dialog_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  border-radius: 8px;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
  padding: 0 20px 0;
}
.dialog_title {
  text-align: center;
}
.dialog_btn {
  color: #3993ff;
  padding: 8px;
  cursor: pointer;
}
.dialog_btn_wrapper {
  text-align: right;
  margin-top: 20px;
}
.dialog_content {
  text-align: center;
  min-width: 180px;
}
.dialog_btn:hover {
  background-color: #ecf1f4;
  display: inline-block;
}